body {
  font-family: Arial, sans-serif;
  margin: 20px;
}


p{
  text-align: center;
}
.formulario-section {
  margin-bottom: 10px;
  text-align: center;
}

label {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input, select {
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #070155;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

form {
  max-width: 600px; /* O ajusta según tus necesidades */
  margin: 0 auto; /* Centra el formulario en la página */
}

@media screen and (max-width: 600px) {
  body {
      margin: 10px;
  }

  label {
      margin-left: 0;
  }

  button {
      padding: 8px 12px;
  }
}


h1{
  text-align: center;
}

h3{
  text-align: center;
}

.botonse{
 margin-bottom: 20px;
 margin-top: 10px;
}
